<h1>Oops! Looks like a bug has occured</h1>
<p>You have to meet the criterials, title minimal 3 letter, description minimal 10 letters</p>
<a href="/articles">home</a>
<a href="/articles/new">Create Article</a>