<div class="showingArticle">
<h1>Article <%= @article.id%></h1>
<h1><strong>Title: <%= @article.title %></strong></h1>
<p>Description: <%= @article.description %></p>
<button><a href="/articles">done</a></button>
</div>