<!DOCTYPE html>
<html>
  <head>
    <title>FindFriendsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

  </head>

  <body>
  <h1>main page</h1>
  <h1><button><a href="/about">about</a></button></h1>
  </body>
</html>
